
 body {
color: rgb(50,50,50);
background: rgb(245,245,245);
font-family: 'Open Sans', sans-serif;
font-size: 20px;
text-align: center;

}

h1 {
color: white;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
text-align: center;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 30px;
}

.header {
height:50px;
color: orange;
font-family: 'Montserrat', sans-serif;
font-size: 21px;
text-align: left;
}

#banner1 {
background: linear-gradient(
 rgba(0, 0, 0, 0.30), 
 rgba(0, 0, 0, 0.30)
 ),url(Images/Cuisine_heureuse.jpg);
width: 100%;
height: 650px;
background-size: cover;
padding: 300px 0px;
text-align: center;
color: white;
font-size : 35px;
font-border:2px;
}

#banner1 a {
font-size : 20px;
}

#banner2 h2{
color: orange;
text-align: center;
padding: 5px 5px;
}

#banner2 p{
color: rgb(50,50,50);
background: rgb(245,245,245);
font-family: 'Open Sans', sans-serif;
font-size: 22px;
text-align: center;
}

.container {
color: rgb(50,50,50);
background: rgb(245,245,245);
font-family: 'Open Sans', sans-serif;
font-size: 20px;
text-align: center;
padding: 20px 20px;
}

#banner3 p {
color: rgb(50,50,50);
background: rgb(245,245,245);
font-family: 'Open Sans', sans-serif;
font-size: 22px;
text-align: center;
}

#banner3 a {
text-decoration: none;
color: orange;
}

#banner3 a:hover {
text-decoration: none;
color: purple;
}

#container {
text-align: center;
}

#pre-footer {
color: orange;
font-family: 'Montserrat', sans-serif;
font-size: 30px;
text-align: center;
padding: 5px 5px;
}

#footer {
 background: rgb(50,50,50);
 color: rgb(245,245,245);
 font-size: 20px;
 padding: 30px;
 text-align: center;
 }

#footer a {
  text-decoration: none;
  color: rgb(245,245,245);
}

#footer a:hover {
  text-decoration: none;
  font-size: 10px;
  color: orange;
}
